body, html {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    background-color: #1a1a1a; color: white;
    font-family: sans-serif; overflow: hidden;
    touch-action: manipulation; /* Optimise le tactile */
}

#ecran-cliquable {
    width: 100vw; height: 100vh;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
}

#container-barre {
    width: 90vw; /* Prend 90% de la largeur du téléphone */
    height: 120px; /* Plus grand pour le confort visuel */
    background: #222;
    border: 4px solid #444;
    position: relative;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.case-score {
    flex: 1;
    display: flex;
    align-items: center; justify-content: center;
    font-weight: bold; 
    font-size: 3rem; /* Gros chiffres pour mobile */
    color: #444;
    border-right: 1px solid #333;
    z-index: 1;
    transition: all 0.1s;
}

#curseur {
    width: 15px; /* Curseur plus épais */
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0; left: 0%;
    z-index: 2;
    box-shadow: 0 0 20px #fff;
}

/* État quand le curseur passe sur la case */
.case-active {
    background: #2a2a2a; 
    color: #4caf50;
    text-shadow: 0 0 8px rgba(76, 175, 80, 0.6);
    transform: scale(1.05);
}

p {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #666;
    letter-spacing: 2px;
}